<div block="b-textbox">

    <label 
        for="textbox_input"
    	block="b-label"
    	mod="{ }">
    	<span ng-if="required === 'true'" elem="asteriks">*</span>
    	<span elem="caption" mod="{ required: required }">{{ label }}</span>
    </label>

    <input 
        id="textbox_input"
        block="b-input-text" 
        type="text" 
        mod="{ device: 'deskto', state: state }"
        ng-model="value"/>

    <div ng-show="hint" block="b-baloon-hint" mod="{ state: state }">
        <div elem="tail" mod="{ state: state }"></div>
        <div elem="message" mod="{ state: state }">{{ hint }}</div>
    </div>       
</div>	