<div block="b-textbox">

    <label 
        for="textbox_{{eid}}"
    	block="b-label"
    	mod="{ }"
        evm>
    	<span ng-if="required === 'true'" elem="asteriks" evm>*</span>
    	<span elem="caption" mod="{ required: required }" ng-bind="label" evm></span>
    </label>

    <input 
        ng-disabled="state === 'disabled'"
        id="textbox_{{eid}}"
        block="b-input-text" 
        type="text" 
        mod="{ state: state }"
        ng-model="value"
        evm/>

    <div ng-show="hint" block="b-baloon-hint" mod="{ state: state }" evm>
        <div elem="tail" mod="{ state: state }" evm></div>
        <div elem="message" mod="{ state: state }" ng-bind="hint" evm></div>
    </div>       
</div>	