body { font: 1em Verdana, Arial, sans-serif; }

.wrapper {
  min-width: 960px !important;
  margin: 0 auto;
  padding: 5%;
  background: #f6f6f6;;
  border: 1px solid #d3d6db;
  border-radius: 2px;
}
