.b-input-text {
    background-color: #fff;
    padding: 6px 8px;
    font: 1em Verdana,Arial,sans-serif;
    width: 100%;
    border: 1px solid #ABB7B7;
    line-height: normal;
    .box-sizing();
    .border-radius(1px);
    .focused_input();

    &_main-search_on {
          border-radius: 3px;
    }
/*  &_device_pod {
    font-size: 1.5rem;
    padding: 0 16px;
    height: 52px;
  }
  
  &_state_invalid {
    border-color: @color-red;
    padding-right: 45px;
    background: url(images/icons/icon-validate.png) no-repeat right 5px center ;
    &:focus, &.focus {
      .box-shadows-2(0 5px 10px -5px rgba(0, 0, 0, 0.3) inset, 0 0 15px 0 rgba(255, 11, 0, 0.4));
    }
  }  */
  
}
