<!doctype html>
<html lang="ru" ng-app="declaration">
<head>
<meta name="app" content="<app/>">
<meta name="version" content="<version/>">
<meta name="build" content="<build/>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Declaration sandbox</title>
<style type="text/css">
html, body { 
    font: 14px 'Ubuntu', Verdana, Arial, sans-serif;  
    background: #000;
    height:100%;
}
</style>
<css/>
</head>
<body>

    <div block="b-page">
        <div block="b-page-header"></div>

        <div block="b-wrapper">
            <div block="b-grid">
                <div elem="row">
                    <div elem="col" style="width:25%;">
                        <!-- steps here -->
                    </div>

                    <div elem="col">
                        <div block="b-declaration" ng-controller="declarationController as Main">
                            <h1 elem="header" mod="{ 'size': 1 }"> {{ 'title' | translate }} </h1>           
                            <div ng-view></div>
                        </div>                     
                    </div>

                    <div elem="col" style="width:25%;">
                        <!-- help here -->
                    </div>                          
                </div>         
            </div>
        </div>

        <div block="b-page-footer"></div>   
    </div>
 
</body>
<javascript/>
</html>